header h1 {
    font-family: "Roboto", sans-serif;    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("../img/pattern.jpg");
    
}

#brushes h2{
    font-family: "Roboto", sans-serif;    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;

}

#frames h2 {
    font-family: "Roboto", sans-serif;    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}
    
#paint h2 {
    font-family: "Roboto", sans-serif;    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

span {
    font-family: "Roboto", sans-serif;    font-weight: bold;
    color: blue;
}

footer {
    font-family: "Roboto", sans-serif;    
    font-size: 15px;
    text-align: center;
}